.game {
  display: flex;
  padding: 10px;
}

.game__dashboard {
  flex: 0 0 35%;
  border-right: 1px solid black;
  padding: 10px;
}

.game__title {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 20px;
}

.game__go-back {
  padding: 8px 20px;
  border: 1px solid var(--main-button-border-color);
  background-color: var(--main-button-background-color);
  margin-bottom: 40px;
}

.game__user-container {
  margin-bottom: 20px;
  position: relative;
}

.game__user-name {
  padding-left: 40px;
  margin-bottom: 5px;
  font-weight: bold;
}

.game__user-name::before,
.game__user-name--ready::before {
  content: '';
  position: absolute;
  top: 1px;
  left: 12px;
  border-radius: 50%;
  border: 10px solid rgb(219, 0, 0);
}

.game__user-name--ready::before {
  border-color: rgb(133,241,104);

}

.game__user-progress {
  width: 100%;
  height: 15px;
  background-color: rgb(186, 243, 175); 
  border: 1px solid rgb(37, 35, 30);
  position: relative;
}

.game__user-progress-show {
  height: 100%;
  width: 0;
  background-color: rgb(44, 165, 28);
}

.game__presentation {
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.game__get-ready {
  display: block;
  padding: 30px 70px;
  border: 1px solid var(--main-button-border-color);
  background-color: var(--main-button-background-color);
  text-transform: uppercase;
  font-weight: bold;
}

.game__text-typed,
.game__remaining-text {
  border-bottom: 1px solid transparent;
}

.game__text-typed {
  background-color: rgb(133, 241, 105);
}

.game__current-symbol {
  border-bottom: 1px solid var(--main-font-color);
}